<div class="outer-container">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card custom-card-bg">
          <div class="card-header bg-primary text-white text-center">
            <h4 class="card-title">User Form</h4>
          </div>
          <div class="card-body">
            <h4>Student Details</h4>
            <div class="mb-3"></div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="container-1">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        id="firstname"
                        class="form-control"
                        formControlName="firstname"
                        placeholder="Firstname"
                      />
                      <small
                        *ngIf="userForm.get('firstname').errors?.['required'] && userForm.get('firstname').touched"
                        class="text-danger"
                      >
                        *First name is required
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="userForm.get('firstname').errors?.['noSpecialCharacters'] && userForm.get('firstname').touched"
                        >First Name cannot contain special characters.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="userForm.get('firstname').errors?.['noNumericCharacters'] && userForm.get('firstname').touched"
                        >First Name cannot contain numeric characters.</small
                      >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        id="lastname"
                        class="form-control"
                        formControlName="lastname"
                        placeholder="Lastname"
                      />
                      <small
                        *ngIf="userForm.get('lastname').errors?.['required'] && userForm.get('lastname').touched"
                        class="text-danger"
                      >
                        *Last name is required
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="userForm.get('lastname').errors?.['noSpecialCharacters'] && userForm.get('lastname').touched"
                        >First Name cannot contain special characters.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="userForm.get('lastname').errors?.['noNumericCharacters'] && userForm.get('lastname').touched"
                        >First Name cannot contain numeric characters.</small
                      >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        id="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email Address"
                      />
                      <div
                        *ngIf="userForm.get('email').errors?.['required'] && userForm.get('email').touched"
                        class="text-danger"
                      >
                        *Email is required
                      </div>
                      <div
                        *ngIf="userForm.get('email').errors?.['email'] && userForm.get('email').touched"
                        class="text-danger"
                      >
                        *Valid Email is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3"></div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="number"
                        id="contact"
                        class="form-control"
                        formControlName="contact"
                        placeholder="Contact Number"
                      />
                      <div
                        *ngIf="userForm.get('contact').errors?.['required'] && userForm.get('contact').touched"
                        class="text-danger"
                      >
                        *Valid contact number is required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        formControlName="address"
                        placeholder="Address"
                      />
                      <div
                        *ngIf="userForm.get('address').errors?.['required'] && userForm.get('address').touched"
                        class="text-danger"
                      >
                        *Address is required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        formControlName="city"
                        placeholder="City"
                      />
                      <div
                        *ngIf="userForm.get('city').errors?.['required'] && userForm.get('city').touched"
                        class="text-danger"
                      >
                        *City is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <h4>Permanent Address</h4>
              <div class="mb-3"></div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="street"
                      placeholder="Enter the Street"
                    />
                    <div
                      *ngIf="userForm.get('street').errors?.['required'] && userForm.get('street').touched"
                      class="text-danger"
                    >
                      *Street is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Cities"
                      placeholder="Enter the City"
                    />
                    <div
                      *ngIf="userForm.get('Cities').errors?.['required'] && userForm.get('Cities').touched"
                      class="text-danger"
                    >
                      *City is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Country"
                      placeholder="Enter the Country"
                    />
                    <div
                      *ngIf="userForm.get('Country').errors?.['required'] && userForm.get('Country').touched"
                      class="text-danger"
                    >
                      *Country is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="State"
                      placeholder="Enter the State"
                    />
                    <div
                      *ngIf="userForm.get('State').errors?.['required']&& userForm.get('State').touched"
                      class="text-danger"
                    >
                      *State is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Pincode"
                      placeholder="Enter the Pincode"
                    />
                    <div
                      *ngIf="userForm.get('Pincode').errors?.['required'] && userForm.get('Pincode').touched"
                      class="text-danger"
                    >
                      *Pincode is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <h4>Current Address</h4>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                  (change)="onCheckedtarget($event)"
                  formControlName="sameasPermanent"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Same as Permanent Address
                </label>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Streets"
                      placeholder="Enter the Street"
                    />
                    <div
                      *ngIf="userForm.get('Streets').errors?.['required'] && userForm.get('Streets').touched"
                      class="text-danger"
                    >
                      *Street is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="City"
                      placeholder="Enter the City"
                    />
                    <div
                      *ngIf="userForm.get('City').errors?.['required']&& userForm.get('City').touched"
                      class="text-danger"
                    >
                      *City is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Countries"
                      placeholder="Enter the Country"
                    />
                    <div
                      *ngIf="userForm.get('Countries').errors?.['required'] && userForm.get('Countries').touched"
                      class="text-danger"
                    >
                      *Country is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="States"
                      placeholder="Enter the State"
                    />
                    <div
                      *ngIf="userForm.get('States').errors?.['required']&& userForm.get('States').touched"
                      class="text-danger"
                    >
                      *State is required
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Pincodes"
                      placeholder="Enter the Pincode"
                    />
                    <div
                      *ngIf="userForm.get('Pincodes').errors?.['required']&& userForm.get('Pincodes').touched"
                      class="text-danger"
                    >
                      *Pincode is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <h3>Skills</h3>
              <div class="skills" formArrayName="skills">
                <div class="row">
                  <!--Form Controls dynamically using reactive Forms-->
                  <div
                    class="col-sm-4"
                    *ngFor="
                      let controls of userForm.get('skills')['controls'];
                      let i = index
                    "
                  >
                    <input
                      type="text"
                      placeholder="Add Skills"
                      class="form-control"
                      [formControlName]="i"
                    />
                    <div class="mb-3"></div>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="DeleteSkills(i)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
              <div class="mb-3"></div>
              <button
                type="button"
                class="btn btn-primary"
                (click)="AddSkills()"
              >
                Add Skills
              </button>
              <div class="mb-3"></div>
              <!--Form Groups Dynamically using Reactive Forms-->
              <div class="experience" formArrayName="experience">
                <div
                  *ngFor="
                    let exp of userForm.get('experience')['controls'];
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <div class="row">
                    <h4>Experience {{ i + 1 }}</h4>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Company Name"
                        formControlName="company"
                      />
                    </div>
                    <div class="col-sm-4">
                      <select class="form-select" formControlName="position">
                        <option value="">Position</option>
                        <option value="1">Software Developer</option>
                        <option value="2">Junior Developer</option>
                        <option value="3">Senior Developer</option>
                        <option value="4">Designer</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Experience"
                        formControlName="totalExp"
                      />
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-sm-4">
                        <input
                          type="date"
                          class="form-control"
                          placeholder="Start Date"
                          formControlName="start"
                        />
                      </div>
                      <div class="col-sm-4">
                        <input
                          type="date"
                          class="form-control"
                          placeholder="End Date"
                          formControlName="end"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="mb-3"></div>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="DeleteExperience(i)"
                  >
                    Delete Experience
                  </button>
                </div>
              </div>
              <div class="mb-3"></div>
              <button
                type="button"
                class="btn btn-primary"
                (click)="AddExperience()"
              >
                Add Experience
              </button>
              <div class="mb-3"></div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div style="text-align: center">
              {{ userForm.errors | json }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
